@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.avatar{
  border-radius: 50%;
  border: 5px solid rgba(186, 186, 186, 0.426);
}

h1{
  color: #313131;
  font-size: 30px;
  
}

